
<h1>Create Workshop</h1>

<hr />

<div class="row">
	<div class="col-md-4">
		<form action="/CarWorkshop/Create" method="post">
			<div class="form-group mb-3">
				<label class="control label" for="Name">Name</label>
				<input class="form-control" type="text" id="Name" name="Name"/>

				<label class="control label" for="Description">Description</label>
				<input class="form-control" type="text" id="Description" name="Description" />

				<label class="control label" for="PhoneNumber">Phone Number</label>
				<input class="form-control" type="text" id="PhoneNumber" name="ContactDetails.PhoneNumber" />

				<label class="control label" for="Street">Street</label>
				<input class="form-control" type="text" id="Street" name="ContactDetails.Street" />

				<label class="control label" for="City">City</label>
				<input class="form-control" type="text" id="Name" name="ContactDetails.Name" />

				<label class="control label" for="PostalCode">Postal Code</label>
				<input class="form-control" type="text" id="PostalCode" name="ContactDetails.PostalCode" />

				<div class="form-control">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>	
</div>
